
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles  */
.display-flex{
  display: flex;
}
.text-primary{
  color: #FF900E;
}
/* dark 02 */
.text-gray{
  color: #424242;
  font-weight: 500;
}
/* dark 03  */
.text-light-gray{
  color:#727272 ;
}
.bg-light{
  background: rgba(255, 216, 14, 0.1);
  
}
.btn-primary{
  text-align: center;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background: #FF900E;
  margin-bottom: 50px;
}
.navbar, .banner,main{
  margin: 0 auto;
  max-width: 1400px;
}
.section-title{
  font-size: 3rem;
  font-weight: 700;
}
/* header styles  */

/* navbar related style  */
.navbar{
justify-content: space-between;
align-items: center;
}
.brands{
  font-size:3rem;
  font-weight: 700;
}
.nav-links{
list-style: none;
}
.nav-item{
  margin-right: 30px;
}
.nav-item .nav-link{
  text-decoration: none;
}

/* banner related content  */
.banner-content{
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.banner-description{
  font-size: 1.24rem;
  line-height: 26px;
}
.banner-img{
  width: 100%;
}
/* team and feature related style  */
.teams{
  align-items: center;
  margin-top: 130px;
}

.team-img-container{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.our-features{
margin-left: 130px;
max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
.feature-description{
  line-height: 26px;
  margin-bottom: 32px;
}
 
/* same facts related style  */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-margin{
  margin-bottom: 24px;
}

.fact-description{
 max-width: 540px;
 margin-bottom: 100px;
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}
.fact-name{
  font-size: 1.25rem;
  font-size: 600;
  margin: 0;
}
/* sponsore related style  */
.sponsore-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsore-title{
  margin-bottom: 24px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}



@media screen and (max-width:576px) {
.navbar,.nav-links,.teams{
  flex-direction: column;
}
.team-img-container,
.facts-container,
.sponsor-companies {
  grid-template-columns:1fr;
}
.facts-container,
.sponsor-companies{
  justify-items: center;
  gap: 24px;
}
.our-features{
  margin-left: 20px;
}
}

/* medume device respnsiv 992 px  */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  .facts-container,
  .sponsor-companies{
    grid-template-columns: repeat(2, 1fr);
    justify-items:center;
    gap: 24px;
  }
}